extends includes/layout.pug
block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='/bower_components/financejs/finance.js')
  script(src='/script.js')
  link(rel='stylesheet', href='/style/tachyons.css')
  link(rel='stylesheet', href='/style/style.css')
block title
  title MCalc
block content
  .container.pa2
    .f2 MCalc
    p Start Calculating
    form#calc
      .principal.dib.mr2
        label principal
        input(type='text' name='principal')
      .rate.dib.mr2
        label intrest (%)
        input(type='text' name='rate')
      .periods.dib
        label years 
        input(type='text' name='periods')
    .results
      .dib.ttc.mr3.f5 payment amount
      #annuity.dib.f2
