extends includes/layout.pug
block scripts
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='/bower_components/financejs/finance.js')
  script(src='/script.js')
  link(rel='stylesheet', href='/style/tachyons.css')
  link(rel='stylesheet', href='/style/style.css')
block title
  title MCalc
block content
  .main.pa2
    .f2 MCalc
    p Start Calculating
    form#calc
      .sub.principal.dib.pr2.relative
        label principal
        input(type='text' name='principal').pl3
        .dollarsign $
      .sub.rate.dib.pr2
        label intrest (%)
        input(type='text' name='rate')
      .sub.periods.dib.pr2
        label years 
        input(type='text' name='periods')
    div.flex.flex-row
      .results.fl4.relative.mr2
        #annuity.dib.f2.fl1.tr
      .dib.ml1.f5.fl1
        div Payment
        div (monthly)
      .dib.fl1.va
        #tolist.bg-orange.white.pa2.tc To table
