extends includes/layout.pug
block scripts
  script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js')
  script(src='bower_components/financejs/finance.js')
  script(src='script.js')
  link(rel='stylesheet', href='style/tachyons.css')
  link(rel='stylesheet', href='style/style.css')
block title
  title MCalc
block content
  .f2.mv2.b.heading.center M.Calc
  .main.mv2.pa2.bg-white.shadow-2.pl3.center
    .mv2 Calculate your mortgage payments
    form#calc
      div.flex.flex-row
        .sub.principal.relative
          label principal
          input(type='text' name='principal').pl3
          .dollarsign $
        .sub.rate
          label intrest (%)
          input(type='text' name='rate')
        .sub.periods
          label years 
          input(type='text' name='periods')
      div.flex.flex-row.mt3
        .dib.fl1.mt1
        //-- button(type='submit').bn.bg-red.white.pa2.tc.fl.shadow-2 To table
        .results.fl3.relative
          #annuity.dib.f2.fl1.fr
        .dib.f6.fl1.mt1.tr.pr3
          div Payment
          div (monthly)
  #range-table
