body {font-family: 'Roboto',arial,sans-serif;}
input:focus {outline: none;}
input {
  border: none;
  border-bottom: 1px solid #aaa;
  background: transparent;
  font-size: 1.5em;
  width: 8em;
}
label {
  display: block;
  margin-bottom: 0.75em;
  text-transform: capitalize;
  font-size: 0.8em;
}
